@import "style.css";

@media only screen and (max-width: 1024px){
    nav{
        background-color: white;
    }
    .home-right{
        display: none;
    }
    .home-left{
        height: 100vh;
        background-image: url("./Images/vij.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .home-left-text{
        padding: 1rem;
        text-align: center;
}
    .home-left-text h4{
        color:#d8d8d8 ;
    }
    .home-left-text h1{
        color: white;
    }
    .about_btn{
        flex-direction: column;
    }
    .about button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about .about_span{
        font-size: 24vw;
    }
}



